<head> 
<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<h5><%= comment.user.first_name + ' ' + comment.user.last_name %><small> <%= time_ago (comment.created_at) %> </small></h5><p> <h5><i><%= comment.message %></p></i></h5>


<p>
<% if user_signed_in?%>
 <% if comment.user_id == current_user.id %>
  
	
	
<%= link_to "Edit", edit_post_comment_path(comment.post, comment) %> |
<%= link_to "Delete", post_comment_path(comment.post, comment), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<% end %>

</p>
<br>

