<h4><%= link_to 'Back', admin_posts_path %> |</h4>

<head> 
<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<%= render 'form'%>
