
<head> 
<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

</style>
<div class="container">
    <h1>About Us</h1> 
    <hr></h3>


 <div class = "jumbotron text-center">
  <h1><b>Who Are We? </b></h1> 


</div>
<p> In 1993, our first Fitness First club opened in Bournemouth in the south of England. Today we have clubs in 9 different regions, making us a great competitor in the global fitness industry. We've seen a lot of change in the fitness industry over the years, but our philosophy has remained the same: to offer the best equipment, range of classes, knowledgeable staff and professional advice in a welcoming environment, that helps keep our members motivated.</h4><p>

 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <%= image_tag("Fitnessclass.png", :alt => "Fitnessclass feed") %> 
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= image_tag("Fitnessclass2.jpg", :alt => "Fitnessclass feed") %>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <%= image_tag("Fitnessclass3.jpg", :alt => "Fitnessclass feed") %>

<hr>

<p><b><h3 class = "text-center"> OREN PELEG </p></b></h3>

<p><b><small><h3 class = "text-center"> CEO </p></small></b></h3>
 

<p>Oren has been on the Board of Directors of Anytime-FitTime since 2012 and was named as Chief Executive Officer from July 2015. His previous career as Managing Director at Oaktree Capital Management, was devoted to enhancing the management of their portfolio. Prior to joining Oaktree in 2006, Oren spent eight years in the Principal Finance Group of Nomura, which subsequently became Terra Firma Capital Partners, focussing on strategy and operations and driving the post-acquisition management of portfolio companies. Previously, Oren was employed by McKinsey & Company in the United Kingdom and Italy, where he was elected to Partner in 1998. Oren has a B.Sc. in Economics from the University of London. He is fluent in Hebrew and Italian.</p>

 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag("oren.jpg", :alt => "ATFT") %>   <br> <br> <br>

 <br>

 <p><b><h3 class = "text-center"> June Rogers</p></b></h3>

<p><b><small><h3 class = "text-center"> CFO </p></small></b></h3>
 

<p>June joined Anytim-FitTime as our Group Chief Financial Officer on 1st January 2013. During her career she has lived and worked in Asia, Australia, the UK, America and the Middle East. For the past 4 years June has been based in Dubai as the Head of Finance for the Al Futtaim Group, with operations across the Middle East and Asia. Between 2004-2008, June was the CFO for Sydney listed Coca Cola Amatil and before CCA spent 10 years in a variety of senior roles at Cadbury Schweppes plc, including: Finance Director Global Operations based in London, CFO Americas, based in Dallas and between 1994 and 1998, Vice President Finance Asia Pacific, based in Melbourne.  In her early career June held senior roles in a variety of smaller, family owned and private equity backed companies in Europe and Asia.</p>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag("Rogers.png", :alt => "ATFT") %>   
<hr>

<div class = "container">
<div class = "row">
    <div class = "col-lg-5 col-lg-offset-1">
        <div class ="panel panel-default panel-info">
            <div class = "panel-body panel-info" >
                             <div class = "page-header">

<h3> 
  HOW CAN WE HELP?
    <p></p>
   
</div>


<p> <h5>
We want to help our members go further, so if you have any suggestions about our clubs, classes, personal training sessions, or anything else, please come in and talk to one of our team. Or if you prefer, please give us a call 08445 713 400 or drop us an email <u>membershipservices@anytimefitiime.com </u>
</p> </h5>
   <a href = 'http://localhost:3000/messages/new' class =  "btn btn-primary text-center  "> Contact Us</a>
   </div>
    </div>

</div>
<div class = "row">
    <div class = "col-lg-5" >
        <div class ="panel panel-info">

            <div class = "panel-body ">
                
                <div class = "page-header">

<h3> 
  WORK WITH US
    <p></p>
   
</div>

<p> <h5>
We are an ambitious company and we’re always looking for great people to join our team – from personal trainers, group exercise instructors and club managers to our front-of-house teams. We’re committed to training, so you’ll be encouraged to improve your existing skills while you develop new ones. 
</p> </h5>
   <a href = '#' class =  "btn btn-primary  "> Find Out More</a>
    </div>

    </div>

<br> <br> <br><br> <br> <br><br> <br> <br>

